
@{
    ViewData["Title"] = "ITOrganizations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> organizations = new List<string> { "Amazon", " TCS", "Google", "CTS www.cognizant.com", "Microsoft www. microsoft.com" };
}

<h1>ITOrganizations in Hyderabad</h1><hr />

@foreach (var company in organizations)
{
    <div>
        <span>
            @if (company == "Amazon")
            {
                <b>@company</b>
            }
            else
            {

                @company
            }
        </span>
    </div>
}
